* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(12, 12, 61);
    color: white;
    font-family: "Google Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.topBar {
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
}

.minuteNumber {
    font-size: 150px;
    margin: 25px;
    margin-right: 10px;
}

.minuteText {
    font-size: 70px;
    align-self: flex-end;
    margin-left: 15px;
    margin-bottom: 25px;
}

.trainType {
    margin-right: 0px;
    margin-left: auto;
    font-size: 6vw;
}

.nsLogo {
    height: 100%;
}

.destination {
    font-size: 180px;
    margin-left: 25px;
}

.via {
    font-size: 80px;
    margin-left: 25px;
}

.bottomBar {
    background-color: rgba(255, 255, 255, 0.192);
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
}

.nextTrain{
font-size: 60px;
margin-left: 20px;
}